<div class="bg-gray-100 h-screen p-6">
  <form [formGroup]="formulario" (ngSubmit)="onSave()" class="flex gap-6">

    <!-- Primera columna (6/12) -->
    <div class="w-full md:w-6/12 bg-gray-800 p-6 rounded-xl shadow-md">

      <!-- Add Propiedades -->
      <h2 class="text-white text-xl font-semibold mb-4 border-b pb-2">Add Propiedades</h2>

      <!-- Titulo -->
      <label for="titulo" class="text-gray-200 text-sm">Title:</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        class="w-full mt-2 p-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 mb-4"
      />

      <!-- Client -->
      <label for="client" class="text-gray-200 text-sm">Client:</label>
      <input
        type="text"
        id="client"
        formControlName="client"
        class="w-full mt-2 p-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 mb-4"
      />

      <!-- Company name -->
      <label for="companyName" class="text-gray-200 text-sm">Company name:</label>
      <input
        type="text"
        id="companyName"
        formControlName="companyName"
        class="w-full mt-2 p-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 mb-4"
      />

      <!-- ImageUrl -->
      <label for="imageUrl" class="text-gray-200 text-sm">Image URL:</label>
      <input
        type="text"
        id="imageUrl"
        formControlName="imageUrl"
        class="w-full mt-2 p-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 mb-4"
      />

      <!-- Position -->
      <label for="position" class="text-gray-200 text-sm">Position:</label>
      <input
        type="text"
        id="position"
        formControlName="position"
        class="w-full mt-2 p-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 mb-4"
      />

      <!-- Description Project -->
      <label for="descriptionProject" class="text-gray-200 text-sm">Description Project:</label>
      <textarea
        id="descriptionProject"
        formControlName="descriptionProject"
        class="w-full mt-2 p-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 mb-4"
      ></textarea>
    </div>

    <!-- Segunda columna (6/12) -->
    <div class="w-full md:w-6/12 flex flex-col gap-6">

      <!-- Add Views Project -->
      <div class="bg-gray-800 p-6 rounded-xl shadow-md">
        <h2 class="text-white text-xl font-semibold mb-4 border-b pb-2">Add New Views Project</h2>

        <label for="src" class="text-gray-200 text-sm">Src:</label>
        <input
          type="text"
          id="src"
          formControlName="src"
          class="w-full mt-2 p-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 mb-4"
        />

        <label for="description" class="text-gray-200 text-sm">Description:</label>
        <textarea
          id="description"
          formControlName="description"
          class="w-full mt-2 p-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 mb-4"
        ></textarea>

        <button
          type="button"
          (click)="agregarObjeto()"
          class="w-full bg-blue-600 text-white py-2 rounded-lg shadow-md hover:bg-blue-700 transition duration-300"
        >
          Add New View
        </button>
      </div>

      <!-- Add Technologies Project -->
      <div class="bg-gray-800 p-6 rounded-xl shadow-md">
        <h2 class="text-white text-xl font-semibold mb-4 border-b pb-2">Add New Technologies Project</h2>

        <label for="nuevoString" class="text-gray-200 text-sm">Technologies:</label>
        <input
          type="text"
          id="nuevoString"
          formControlName="nuevoString"
          class="w-full mt-2 p-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 mb-4"
        />

        <button
          type="button"
          (click)="agregarString()"
          class="w-full bg-blue-600 text-white py-2 rounded-lg shadow-md hover:bg-blue-700 transition duration-300"
        >
          Add New Tech
        </button>
      </div>
    </div>

    <!-- Tercera columna (6/12) -->
    <div class="w-full md:w-6/12 bg-gray-800 p-6 rounded-xl shadow-md">

      <!-- Project Details -->
      <h3 class="text-white text-xl font-semibold mb-4 border-b pb-2">Project Details</h3>

      <!-- Displaying Details -->
      <div class="mb-4">
        <label class="text-gray-200 text-sm font-bold">Title:</label>
        <span class="text-gray-300">{{ formulario.controls["title"].value }}</span>
      </div>
      <div class="mb-4">
        <label class="text-gray-200 text-sm font-bold">Client:</label>
        <span class="text-gray-300">{{ formulario.controls["client"].value }}</span>
      </div>
      <div class="mb-4">
        <label class="text-gray-200 text-sm font-bold">Company Name:</label>
        <span class="text-gray-300">{{ formulario.controls["companyName"].value }}</span>
      </div>
      <div class="mb-4">
        <label class="text-gray-200 text-sm font-bold">Project Description:</label>
        <span class="text-gray-300">{{ formulario.controls["descriptionProject"].value }}</span>
      </div>
      <div class="mb-4">
        <label class="text-gray-200 text-sm font-bold">Project Image URL:</label>
        <span class="text-gray-300">{{ formulario.controls["imageUrl"].value }}</span>
      </div>
      <div class="mb-4">
        <label class="text-gray-200 text-sm font-bold">Position:</label>
        <span class="text-gray-300">{{ formulario.controls["position"].value }}</span>
      </div>

      <!-- Views -->
      <div class="bg-gray-700 text-white rounded p-4 mb-2">
        <h3 class="text-lg font-bold mb-2">Views:</h3>
        <table class="table-auto w-full" *ngIf="formulario.controls['views'].value.length > 0">
          <thead>
            <tr>
              <th class="w-1/2 px-4 py-2">Src</th>
              <th class="w-1/2 px-4 py-2">Description</th>
              <th class="w-1/8 px-4 py-2">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let view of formulario.controls['views'].value; let i = index">
              <td class="w-1/2 border px-4 py-2">{{ view.src }}</td>
              <td class="w-1/2 border px-4 py-2">{{ view.description }}</td>
              <td class="w-1/8 border px-4 py-2">
                <button type="button" (click)="eliminarObjeto(i)" class="text-red-500 font-bold">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Technologies -->
      <div class="bg-gray-700 text-white rounded p-4 mb-2">
        <h3 class="text-lg font-bold mb-2">Technologies:</h3>
        <ul>
          <li *ngFor="let tech of formulario.controls['technoligies'].value; let i = index" class="text-gray-300">
            {{ tech }}
            <button type="button" (click)="eliminarString(i)" class="text-red-500 font-bold ml-5">X</button>
          </li>
        </ul>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="w-full bg-green-600 text-white py-2 rounded-lg shadow-md hover:bg-green-700 transition duration-300 mt-6">
        Register New Project
      </button>

    </div>

  </form>
</div>
