<!-- app.component.html -->
<nav class="bg-gray-900 p-4 shadow-md" role="navigation">
    <div class="container mx-auto flex items-center justify-between">
        <!-- Menú de navegación -->
        <ul class="flex items-center space-x-6">
            <li>
                <a routerLink="/skills" routerLinkActive="text-blue-400"
                    class="text-white hover:text-blue-300 transition duration-300">
                    Skills
                </a>
            </li>
            <li>
                <a routerLink="/mantainer" routerLinkActive="text-blue-400"
                    class="text-white hover:text-blue-300 transition duration-300">
                    Projects
                </a>
            </li>
        </ul>

        <!-- Sección de usuario -->
        <div class="text-white font-medium">
            Hola, <span class="font-semibold">Max</span>
        </div>
    </div>
</nav>

<router-outlet />