<!-- app.component.html -->
<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <ul class="flex items-center">
      <li class="mr-6">
        <p class="text-white hover:text-blue-300 cursor-pointer">skill</p>
      </li>
      <li class="mr-6">
        <p
          class="text-white hover:text-blue-300 cursor-pointer"
          routerLink="list"
        >
          projects
        </p>
      </li>
      <li>
        <a href="/opcion3" class="text-white hover:text-blue-300">Opción 3</a>
      </li>
    </ul>
    <div class="text-white">Hola, max</div>
  </div>
</nav>

<router-outlet></router-outlet>
